/* 
	CSS Reset 
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td 
{
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body 
{
	line-height:1.5;
}
blockquote:before, blockquote:after, q:before, q:after 
{
	content:"";
}
blockquote, q 
{
	quotes:"" "";
}
a img 
{
	border:none;
}

@font-face {
	font-family: 'gnuolane_rg';
	src: url('../fonts/gnuolane_rg-webfont.eot');
	src: local('☺'), url('../fonts/gnuolane_rg-webfont.woff') format('woff'), url('../fonts/gnuolane_rg-webfont.ttf') format('truetype'), url('../fonts/gnuolane_rg-webfont.svg#webfontQvsv8Mp8') format('svg');
	font-weight: normal;
	font-style: normal;
}


/*
	Global Layout
*/

#main_bg
{
	min-height: 100%;
min-width: 1024px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
}

html,body
{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body
{
	background: #fff;
	font-size: 13px;
	font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
	padding: 0;
	margin: 0;
	color: #676858;
	text-shadow: 1px 0px 1px #fff;
	overflow: hidden;
}

img.alignright {float:right; margin:0 0 1em 1em}
img.alignleft {float:left; margin:0 1em 1em 0}
img.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}

hr
{
	height: 1px;
	border: 0;
	border-top: 1px solid #DADFBE;
	border-bottom: 1px solid #ffffff;
	background: transparent;
	margin: auto;
	margin-bottom: 20px;
	width: 100%;
}

a
{
	color: #f19402;
	text-decoration: none;
}

h3 a
{
	color: #444444;	
}

a:hover
{
	color: #333;
	text-decoration: none;
}

a:active
{
	color: #cccccc;
	text-decoration: none;
}

h1
{
	font-size: 40px;
	color: #454a2e;
}

h2
{
	font-size: 32px;
	font-weight: normal;
	color: #454a2e;
	margin-bottom: 20px;
	text-align: center;
}

#searchform label
{
	font-size: 20px;
	color: #454a2e;
	display: block;
	margin-bottom: 10px;
	font-weight: normal;
}

h3
{
	font-size: 26px;
	font-weight: normal;
	color: #454a2e;
}

h4
{
	font-size: 22px;
	font-weight: normal;
	color: #454a2e;
}

h5
{
	font-size: 22px;
	font-weight: normal;
	color: #454a2e;
}

h6
{
	font-size: 18px;
	font-weight: normal;
	color: #454a2e;
}

.page_header
{
	font-size: 120px;
	font-weight: normal;
	color: #454a2e;
	line-height: 110px;
}

h1, h2, h3, h4, h5, h6, .page_header
{
	text-transform: uppercase;
	font-family: 'gnuolane_rg';
}

pre, code, tt {font:13px 'andale mono', 'lucida console', monospace;line-height:1.5;padding: 20px;
background: #fff;
border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
display: block; color: #999; overflow: auto; margin-top: 20px;
margin: 0 0 20px 0;
}

.clear
{
	clear: both;
}

img.mid_align
{ 
	vertical-align: middle;
	margin-right: 5px;
	border: 0;
}

label.error
{
	font-size: 11px;
	color: #ff0000;
	font-style: italic;
	display: block;
}

.with_bg
{
	background: #f9f9f9;
	border: 1px solid #ebebeb;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

img.frame
{
	padding: 3px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.frame_left
{
	padding: 5px;
 	float: left;
 	margin: 0 20px 10px 0;
 	text-align: center;
 	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.frame_left .caption, .frame_right .caption, .frame_center .caption
{
	margin: 7px 0 2px 0;
	display: block;
}

.frame_right
{
	padding: 5px;
 	float: right;
 	margin: 0 0 10px 20px;
 	text-align: center;
 	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.frame_center
{
	padding: 5px;
 	margin: auto;
 	margin-top: 20px;
	margin-bottom: 20px;
 	text-align: center;
 	clear: both;
 	display: table;
 	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.dropcap1
{
	display: block;
	float: left;
	margin: 0 8px 0 0;
	font-size: 40px;
	line-height: 40px;
	font-family: 'gnuolane_rg';
}

blockquote
{
	padding-left: 60px;
	width: 90%;
	background: transparent url("../images/quote_bg.png") no-repeat top left;
	min-height: 50px;
	margin: 0 0 10px 0;
}

blockquote h2
{
	font-weight: normal;
	font-size: 20px;
}

blockquote h3
{
	font-weight: normal;
	font-size: 18px;
}

.arrow_list, .check_list, .star_list
{
	margin-top: 15px;
}

.arrow_list li
{
	margin: 5px 0 0 20px;
	list-style-image: url("../images/arrow_li.png");
}

.check_list li
{
	margin: 5px 0 0 25px;
	list-style-image: url("../images/tick_button.png");
}

.star_list li
{
	margin: 5px 0 0 25px;
	list-style-image: url("../images/icon_star.png");
}

#respond
{
	width: 100%;
	float: left;
	margin: 0 0 40px 0;
}

#wrapper
{
	width: 100%;
	height: 100%;
	overflow: auto;
}

.logo_wrapper
{
	margin: 30px 0 0 25px;
	display: block;
	float: left;
}

#menu_wrapper
{
	width: 230px;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	margin: 0;
	background: transparent url('../images/menu_bg.png') repeat;
	z-index: 999;
	border-left: 10px solid #dedfda;
	border-right: 1px solid #DADFBE;
}

.nav, .subnav
{
	list-style: none;
	display: block;
	margin: 15px 0 0 20px;
	float: left;
	width: 79%;
	font-size: 20px;
}

.subnav
{
	background: none;
}

.nav li
{
	display: block;
	line-height: .7em;
	padding: 10px 0 10px 10px;
	/*border-bottom: 1px solid #dadfbe;*/
	/*border-top: 1px solid #fff;*/
	cursor: pointer;
	margin-bottom: 10px;
}

.nav li ul li
{
	padding: 10px 0 10px 0;
}

.nav li:first-child
{
	border-top: 0;
}

.nav li:last-child
{
	border-bottom: 0;
}

.nav li ul li:first-child
{
	padding-top: 2px;
}

.nav li ul li:last-child
{
	padding-bottom: 0;
}

.nav li a
{
	text-transform:uppercase;
	color: #707152;
	font-family: 'gnuolane_rg';
	line-height: 1.2em;
}

.nav li a:hover, .nav li a:active
{
	color: #707152;
}

.nav li a span
{
	font-size: 14px;
	text-transform: none;
	letter-spacing: 0;
	display: block;
	margin: -3px 0 0 0;
	color: #9c9d80;
}

.nav li ul
{
	display: none;
	padding: 5px 0 10px 0;
	margin: -50px 0 10px 170px;
	list-style: none;
	position:absolute;
	padding: 10px;
	float: left;
	width: 150px;
	background: transparent url('../images/menu_bg.png') repeat;
	font-size: 16px;
	z-index: 999;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.nav li ul li:first-child
{
	margin-top: 5px;
}

.nav li ul li:last-child
{
	margin-bottom: 5px;
}

.nav li.current-menu-parent ul
{
	display: none;
}

.nav li.current-menu-item
{
	background: transparent url('../images/body_bg.png') repeat;
}

.nav li ul li.current-menu-item
{
	background: none;
}

#footer
{
	margin: 30px 0 0 10px;
}

#copyright
{
	font-size: 11px;
	margin: 0 0 20px 0;
	padding: 0;
	float: left;
	width: 90%;
}

.search_box
{
	float: right;
	margin: 12px 5px 0 17px;
	background: #fff;
}

#menu_search
{
	height: 52px;
	float: left;
	margin: 30px 0 0 10px;
}

.search_box img
{
	position: relative;
	top: 3px;
	left: -7px;
}

#map_contact
{
	width: 100%;
	height: 100%;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

#homepage_wrapper
{
	width: 560px;
	min-height: 100%;
	position: absolute;
	top: 50px;
	left: 219px;
	margin: 0;
	z-index: 2;
	background: transparent url('../images/body_bg.png') repeat;
	border-right: 10px solid #dedfda;
}

#homepage_wrapper .inner
{
	margin: 60px 17px 0 42px;
}

#homepage_wrapper .close_button
{
	width: 16px;
	height: 16px;
	float: right;
	margin: 20px 20px 0 0;
}

#expand_button
{
	position: absolute;
	left: 265px;
	top: 50px;
	display: none;
	z-index: 99999;
}

#content_wrapper
{
	width: 72%;
	float: left;
	margin: 0;
}

#page_content_wrapper
{
	width: 700px;
	margin: auto;
}

#page_content_wrapper .inner
{
	width: 100%;
	float: left;
	margin: 0 0 0 0;
}

#view_slideshow
{
	position: absolute;
	background: #000000;
	padding: 5px;
	font-size: 11px;
	top: 35px;
	right: 20px;
  	z-index: 3;
  	cursor: pointer;
}

#move_next
{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 250px;
	right: 20px;
	z-index: 2;
	background: transparent url('../images/move_next.png') no-repeat center center;
	display: block;
}

#move_prev
{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 250px;
	left: 20px;
	z-index: 2;
	background: transparent url('../images/move_prev.png') no-repeat center center;
	display: block;
}

.card.desc h1
{
	display: block;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #ccc;
	margin: 0 0 30px 0;
}

#content_wrapper .card
{
	float: left;
	height: 600px;
	margin: 0;
}

#content_wrapper .card .title
{
	display: block;
	position: relative;
	top: -44px;
	padding: 10px 0 10px 15px;
	left: 0px;
	width: 80%;
	background: #000;
	font-size: 11px;
}

#content_wrapper .card .title h2
{
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial,"helvetica neue",Helvetica,Verdana,sans-serif;
}

#content_wrapper .card_content
{
	background: #999;
	color: #000;
	height:200px;
	top: -10px;
	position: relative;
	padding: 10px 15px 10px 15px;
}

#content_wrapper .card.desc
{
	float: left;
	padding: 30px 40px 30px 30px;
	width: 260px;
	background: transparent url('../images/kwicks_shadow.png') repeat-y center right;
}

.post_wrapper
{
	width: 100%;
	margin: 0 0 40px 0;
}

.post_wrapper.single
{
	width: 100%;
	margin: 0;
}

.post_header
{
	width: 100%;
	float: left;
}

.post_social
{
	width:27%;
	float:left;
}

.facebook_button, .twitter-share-button
{
	float: left;
	margin-top: 15px;
}

.post_header_h3
{
	float: left;
	margin-bottom: 10px;
	margin-top: 5px;
	width: 100%;
}

.post_header h2
{
	color: #999;
	font-size: 24px;
}

.post_detail
{
	width: 97%;
	margin: auto;
}

.post_detail, .recent_post_detail
{
	font-size: 11px;
	font-style: italic;
	font-family: Georgia, Arial, sans-serif;
	word-spacing: 1px;
	width: 100%;
	padding: 0;
}

#about_the_author
{
	width: 98%;
	float: left;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

#about_the_author .header span
{
	display: block;
	padding: 10px 0 10px 20px;
	font-size: 14px;
}

#about_the_author .thumb
{
	width: 80px;
	float: left;
	margin: 20px 0 0 20px;
}

#about_the_author .thumb img
{
	padding: 3px;
	width: 50px;
}

#about_the_author .description
{
	width: 370px;
	float: left;
	padding: 20px 0 20px 0;	
}

.comment .left img.avatar
{
	width: 50px;
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.30);
 	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.30);
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.30);
 	border: 2px solid #fff;
}

.comment
{
	width: 500px;
	margin-top: 30px;
	float: left;
}

.comment.children
{
	margin-left: 75px;
	margin-top: 30px;
}

.comment .left
{
	width: 60px;
	float: left;
}

.comment_arrow
{
	background: transparent url("../images/comment_arrow.png") no-repeat;
	width: 14px;
	height: 10px;
	float: left;
	position: relative;
	left: 5px;
	margin-top: 20px;
}

.comment .right
{
	width: 75%;
	float: left;
	padding: 14px 15px 10px 15px;
	background: #fff;
	border: 1px solid #E1E1E1;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	margin-top: -2px;
}

div.comment.children .right
{
	width: 60%;
}

div.comment.children div.comment.children .right
{
	width: 45%;
}

.comment .right p
{
	margin: 0;
	padding: 0;
}

#content_wrapper children
{
	list-style: none;
	margin: -40px 0 0px 74px;
	border-left: 1px solid #ebebeb;
	padding: 5px 20px 2px 0;
	float: left;
	width: 106%;
}

#content_wrapper .children .children
{
	margin-top: -10px;
	padding-bottom: 0;
	width: 83.5%;
}

.one_half
{
	float: left;
	width: 47%;
}

.one_half.last
{
	position: relative;
	left: 5%;
}

.one_third
{
	width: 30%;
	float: left;
	min-height: 50px;
	margin-right: 3%;
}

.one_third.last
{
	margin-right: 0;
}

.two_third
{
	float: left;
	width: 64%;
	margin-right: 3%;
}

.one_fourth
{
	width: 22%;
	float: left;
	margin-right: 3%;
	margin-bottom: 2%;
}

.one_fourth.last
{
	margin-right: 0;
}

.one_fifth
{
	width: 14%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_fifth.last
{
	margin-right: 0;
}

.one_sixth
{
	width: 11%;
	float: left;
	margin-right: 6%;
	margin-bottom: 2%;
}

.one_sixth.last
{
	margin-right: 0;
}

.cufon.space
{
	margin-bottom: 15px;
}

#content_slider_wrapper
{
	width: 100%;
	height: 20px;
	background: transparent;
	position: fixed;
	bottom: 200px;
}

#content_slider
{
	width: 90%;
	height: 20px;
	background: transparent;
	margin: 0;
	cursor: pointer;
	position: relative;
}

#content_slider .ui-slider-handle
{
	width: 11%;
	background: transparent url('../images/000_slider.png') repeat center center;
	height: 20px;
	margin: 0;
	position: absolute;
	display: block;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}

.sidebar_content
{
	width: 500px;
	padding: 0;
	float: left;
}

.sidebar_content.full_width
{
	width: 840px;
}

.sidebar_content h1
{
	display: block;
	margin: 0 0 40px 0;
}

.sidebar_wrapper
{
	width: 220px;
	float: left;
}

.sidebar_wrapper .sidebar
{
	width: 190px;
	float: left;
	margin-top: 20px;
	margin-left: 10px;
}

.sidebar_wrapper .sidebar .content
{
	width: 90%;
	margin: 0 10px 0 20px;
}

/*
	Input layout
*/

input[type=text], input[type=password], select
{
	padding: 7px;
	font-size: 12px;
	font-family: Arial,Verdana,sans-serif;
	margin: 0;
	background: #fff;
	border: 0;
	color: #666;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

input[type=text].blur, textarea.blur
{
	color: #999;
	font-style: italic;
}

label
{
	font-weight: bold;
	color: #797979;
}

textarea
{
	padding: 10px;
	font-size: 12px;
	color: #666;
	margin: 0;
	height: 200px;
	overflow: auto;
	background: #fff;
	font-family: Arial,Verdana,sans-serif;
	border: 0;
	border-top: 1px solid #E1E1E1;
	border-left: 1px solid #E1E1E1;
	border-bottom: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
}

.search_box input
{
	width: 130px;
	border: 0;
}

input[type=submit]:hover
{
    cursor: pointer;
    }

input[type=text]:hover, input[type=password]:hover, textarea:hover
{

}

input[type=submit], input[type=button], a.button
{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 12px Arial, sans-serif;
	padding: .65em 2em .65em 2em;
	color: #fff;
	font-weight: bold;
	border: solid 1px #E56701;
	background: #FE7201;
	background: -webkit-gradient(linear, left top, left bottom, from(#FEA35A), to(#FE7201));
	background: -moz-linear-gradient(top,  #FEA35A,  #FE7201);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEA35A', endColorstr='#FE7201');
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

a.button
{
	padding-top:8px;
}

input[type=submit].medium, input[type=button].medium, a.button.medium
{
	font: 16px/100% Arial, Helvetica, sans-serif;
}

input[type=submit].large, input[type=button].large, a.button.large
{
	font: 20px/100% Arial, Helvetica, sans-serif;
}

input[type=submit]:active, input[type=button]:active, a.button:active
{
	position: relative;
	top: 1px;
	left: 1px;
	background: #444444;
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#777));
	background: -moz-linear-gradient(top,  #444444,  #777);
}


input[type=submit].left, input[type=button].left, a.button.left
{
	float: left;
}

input[type=submit].right, input[type=button].right, a.button.right
{
	float: right;
}

input[type=submit].center, input[type=button].center, a.button.center
{
	margin: auto;
}

.pagination {
	margin: 0;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}

.pagination a {
	padding: 5px 7px 5px 7px;
 	margin: 0 3px 0 3px;
}

.slideshow #thumbnav
{
	position: relative;
	clear: both;
	top: 94%;
}

/*@-moz-document url-prefix() { .slideshow #thumbnav { margin-top: 52% } } */

#thumbnav a{ 
	display:block;
	width: 14px;
	height: 14px;
	background: url(../images/slider_bullet_nav.png) no-repeat 0 -14px;
	border:0;
	margin-right: 3px;
	float: left;
	cursor: pointer;
	position: relative;
	top: 140px;
	left: 0;
	padding-right: 4px;
	cursor: pointer;
	color: transparent;
	text-indent: -9999px;
}

.slideshow #thumbnav a
{
	top: 0;
}

#thumbnav a:hover{ background-position: 0 0px; }
#thumbnav a.cur{ background-position: 0 0; }

.caption-left h3, .caption-right h3, .caption-bottom h3
{
	color: #b11623;
	line-height: 0.9em;
	text-transform: uppercase;
	font-size: 40px;
	padding-top: 25px;
	letter-spacing: -2px;
	display: none;
}
.caption-left p, .caption-right p, .caption-bottom p
{
	color: #fff;
	margin: 10px 0 0 3px;
}

@-moz-document url-prefix() { .caption-left p, .caption-right p, .caption-bottom p { margin-top: 30px } } 

.caption-left
{
	background: #000;
	width: 300px !important;
	position: relative;
	top: -200px;
	padding: 0 12px 20px 15px;
	z-index: 999;
	display: none;
}

.caption-right
{
	width: 300px;
	background: transparent;
	position: relative;
	left: 612px;
	padding: 0 12px 20px 15px;
	top: -200px;
	z-index: 999;
	display: none;
}

ul.posts.blog
{
	list-style: none;
}

.sidebar .content .posts.blog li img, #page_content_wrapper .posts.blog li img
{
	float: left;
	margin: 0 10px 2px 0;
	padding: 3px;
 	width: 50px;
}

.sidebar .content .sidebar_widget, #page_content_wrapper .sidebar .content .posts.blog
{
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.sidebar .content .posts.blog li
{
	padding: 0 0 20px 0;
}

.sidebar .content .sidebar_widget li
{
	margin: 20px 0 0 0;
	padding: 0;
}

.sidebar .content .sidebar_widget li h2
{
	font-size: 20px;
	display: block;
	text-align: left;
}

.sidebar .content .sidebar_widget li:first-child
{
	padding-top: 0;
}

.sidebar .content .sidebar_widget li ul
{
	list-style: none;
	padding: 10px;
	margin: 0 0 15px 0;
	list-style-image: url("../images/arrow_li.png");
}

.sidebar .content .sidebar_widget li ul li
{
	padding: 0 0 0 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

table thead tr th
{
	text-shadow: 0 0 0 #fff;
}

table tr
{
	background: #ffffff;
}

table tr td, table tr th
{
	border-bottom: 1px solid #ebebeb;
}

table tr th
{
	font-weight: bold;
	background: #f0f0f0;
	text-align: left;
	text-shadow: 0 1px 1px #fff;
}

table tr th, table tr td
{
	padding: 7px 15px 7px 15px;
}

#wp-calendar tr th, #wp-calendar tr td
{
	padding: 1px 5px 1px 5px;
}

#wp-calendar caption
{
	display:none;
}

#wp-calendar
{
	margin: 0 0 20px 0;
	font-size: 12px;
}

.sidebar .content .sidebar_widget li.widget_calendar h2, #searchsubmit
{
	display: none;
}

.sidebar .content .sidebar_widget li ul.flickr
{
	list-style: none;
	margin: 5px 0 30px 0;
	float: left;
	display: block;
	padding: 0 0 3px 0;
}

.sidebar .content .sidebar_widget li ul.flickr li, .sidebar .content .sidebar_widget li ul.flickr li a
{
	display: block;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
}

.sidebar .content .sidebar_widget li ul.flickr li img
{
	padding: 3px;
}

.sidebar .content .sidebar_widget li ul.twitter
{
	margin: 0;
	margin-top: 5px;
	list-style:none;
	font-size: 11px;
	padding: 0 0 3px 0;
}

.sidebar .content .sidebar_widget li ul.twitter li
{
	padding-left:32px;
	padding-bottom: 10px;
	background-image:url(../images/icon_twitter_bird2.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
}

.sidebar .content .sidebar_widget li ul.social_media
{
	list-style: none;
	margin: 10px 0 15px 0;
	float: left;
	display: block;
	padding: 0 0 3px 0;
	margin-left: -5px;
}

.sidebar .content .sidebar_widget li ul.social_media li
{
	display: block;
	float: left;
	margin: 0 5px 0 0;
}

ul.list
{
	margin: 5px 0 0 20px;
}

/*
 * jQuery Nivo Slider v2.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2010, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width: 960px;
	height: 360px;
	margin: auto;
	margin-top:15px;
	background: #000;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:60;
	display:none;
}
/* The slices in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:50;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:20px;
	color:#999;
	width: 400px;
    height: auto;
	z-index:89;
	background: transparent url('../images/000_70.png') repeat;
}

.nivo-caption.right {
	right: 0;
}

.nivo-caption h4
{
	color: #fff;
	font-size: 24px;
	margin-bottom: 15px;
}

.nivo-caption p {
	padding:10px 15px 20px 15px;
	margin:0;
}

.nivo-caption a.button
{
	text-shadow: -1px 0 1px #000;
}

.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:block;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionnav
{
	display: none;
}

.nivo-directionnav a {
	position:relative;
	top:120px;
	z-index:99;
	cursor:pointer;
	width: 40px;
	height: 80px;
	display: block;
}
.nivo-directionnav a.nivo-prevnav {
	background: transparent url('../images/left_slide_nav.png') no-repeat center 15px;
	text-indent: -9999px;
	left: 20px;
}
.nivo-directionnav a.nivo-nextnav {
	background: transparent url('../images/right_slide_nav.png') no-repeat center 15px;
	text-indent: -9999px;
	left: 895px;
	top: 42px;
}

.nivo-prevnav:active {
	background: transparent url('../images/left_slide_nav_dark.png') no-repeat center 15px;
}
.nivo-nextnav:active {
	background: transparent url('../images/right_slide_nav_dark.png') no-repeat center 15px;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlnav
{
	display: block;
	background: transparent;
	z-index:99;
	float: none;
	margin: auto;
	padding: 10px 0 0 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width:auto;
	top: 103%;
	left: 0;
}
.nivo-controlnav a {
	position:relative;
	z-index:99;
	cursor:pointer;
	width: 9px;
	height: 9px;
	background: transparent url('../images/bullet_nav_bg_black.png') no-repeat top;
	display: block;
	float: left;
	text-indent: -9999px;
	margin: 0 7px 0 0;
}
.nivo-controlnav a:hover, .nivo-controlnav a.active {
	width: 9px;
	height: 9px;
	background: transparent url('../images/bullet_nav_bg_active_black.png') no-repeat top;
}

.nivo-controlnav {
	position:absolute;
	bottom: 0px; /* Put the nav below the slider */
	position:absolute;
}
.nivo-controlnav img {
	display:inline; /* Unhide the thumbnails */
	position:relative;
	margin-right:10px;
}

.nivo-html-caption {
    display:none;
}

.highlight_yellow
{
	background: #ffc600;
	color: #000;
	text-shadow: -1px 0 1px #fff;
}

.highlight_black
{
	background: #000;
	color: #fff;
}

#page_content_wrapper ul.twitter
{
	margin: 0;
	list-style:none;
}

#page_content_wrapper ul.twitter li
{
	padding-left:32px;
	background-image:url(../images/icon_twitter_bird.png);
	background-repeat:no-repeat;
	background-position:0px 0.3em;
	padding-bottom: 2em;
}

#page_content_wrapper .sidebar .content .sidebar_widget li ul.flickr, ul.flickr
{
	list-style: none;
	margin: 15px 0 30px 0;
	float: left;
	display: block;
	clear: both;
}

ul.flickr li
{
	float: left;
	margin: 0 5px 5px 0;
}

#page_content_wrapper .sidebar .content .posts.blog
{
	list-style: none;
	margin-left: -7px;
	margin-top: 15px;
	font-size: 11px;
}

#page_content_wrapper .sidebar .content .posts.blog li, #page_content_wrapper .posts.blog li
{
	clear: both;
	border:0;
	background: none;
	padding-left: 10px;
	margin: 5px 0 5px 0;
}

#page_content_wrapper .sidebar .content .posts.blog li strong.header, #page_content_wrapper .posts.blog li strong.header
{
	font-weight: bold;
	font-size: 14px;
}

.gallery-caption
{
	font-weight: bold;
}

.price
{
	color: #707152;
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
	font-family: Georgia, Arial, sans-serif;
}

.menu_description
{
	margin-top: 5px;
	font-size: 11px;
}

#ribbon
{
	position: fixed;
	top: 50px;
	left: 224px;
	z-index: 999;
}

#corner_left
{
	position: fixed;
	top: 50px;
	left: -3px;
	z-index: 999;
}

#corner_left_bottom
{
	position: fixed;
	bottom: -7px;
	left: -3px;
	z-index: 999;
}

#corner_right
{
	position: fixed;
	top: 50px;
	left: 757px;
	z-index: 999;
}

#corner_right_bottom
{
	position: fixed;
	bottom: -7px;
	left: 757px;
	z-index: 999;
}

.comment-reply-link
{
	margin-top: 10px;
	font-size: 11px;
	float: right;
}

.comment_date
{
	font-size: 11px;
	margin-top: 3px;
}

#menu_footer
{
	margin: 0 0 0 25px;
}

#wpadminbar
{
	display: none;
}

#supersized-loader { position:absolute; top:50%; left:50%; z-index:10; width:60px; height:60px; margin:-30px 0 0 -30px; text-indent:-999em; background-color:#111; background:rgba(0,0,0,0.8) url(../images/progress.gif) no-repeat center center; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

.parent_comment, .parent_comment ul
{
	list-style: none;
}


.top-nav {
float: left;
width: 100%;
height: 45px;
}

.top-nav nav {
float: left;
width: 750px;
margin-left: 200px;
}

.top-nav nav > ul {
float: right;
margin-top: 15px;
min-width: 467px;
}

.top-nav ul.menu {
border: none;
list-style: none;
text-align: left;
}

.top-nav ul li.leaf {
list-style: none;
list-style-image: none;
}

.top-nav nav > ul > li {
float: left;
height: 29px;
padding-left: 10px;
padding-right: 9px;
background: none;
position: relative;
background: url("../images/main-menu-sep.gif") no-repeat 0 2px;
}

.top-nav nav > ul > li:first-child {
margin-left: 0;
padding-left: 0;
background: none;
}

.top-nav nav > ul li a {
line-height: 14px;
text-transform: uppercase;
color: white;
font-size: 11px;
font-weight: bold;
text-decoration: none;
}

.top-nav .search-form {
float: right;
width: 211px;
height: 24px;
margin-top: 10px;
background: url("../images/sprite.png") no-repeat 0 0;
}

.element-invisible {
position: absolute !important;
clip: rect(1px 1px 1px 1px);
clip: rect(1px,1px,1px,1px);
}

.container-inline div, .container-inline label {
display: inline;
}

.form-item, .form-actions {
margin-top: 1em;
margin-bottom: 1em;
}

nav .search-form input.form-text {
float: left;
width: 180px;
height: 24px;
line-height: 24px;
background: none;
border: none;
color: #C6B6B3;
text-indent: 12px;
padding: 0;
}

.container-inline .form-actions, .container-inline.form-actions {
margin-top: 0;
margin-bottom: 0;
}

.top-nav input,.top-nav textarea {
box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
padding: 5px 10px;
border-radius: 10px;
border: none;
background-color: #CFB27E;
}

.top-nav .search-form input.form-submit {
float: right;
width: 31px;
height: 24px;
cursor: pointer;
border: none;
background: none;
text-indent: -9999px;
}

#ctl00_ContentPlaceHolder1_Button1
{
    position: relative;
    
    width: 160px !important;
    
    }

#ctl00_ContentPlaceHolder1_Button2
{
    position: relative;
    left: 50px;
    width: 160px !important;
    
    }
    
 .main-wrapper input{
 position: absolute;
right: 20px;
width: 300px;
}


li
{
    list-style: none;
    margin-bottom: 30px;
    }
#footer
{
   display:none;
    }

label
{
  color: White;
  font-size: 14px;
    }