body
{
	background: #000000;
	color: #ebebeb;
	text-shadow: 1px 0px 1px #222;
}

#menu_wrapper
{
	background: transparent url('../images/000_80.png') repeat center center;
z-index: 999;
border-left: 10px solid #4D5052;
border-right: 1px solid #4D5052;
margin-top: 50px;
}

.nav li ul
{
	background: transparent url('../images/000_80.png') repeat center center;
}

#homepage_wrapper
{
	background: transparent url('../images/000_70.png') repeat center center;
	border-right: 10px solid #4d5052;
	width: 540px;
	left: 239px;
}

#homepage_wrapper .inner
{
	margin-left: 12px;
}

h1, h2, h3, h4, h5, h6, .page_header, .price, h3.cufon a
{
	color: #fff;
}

.gmap_marker h4
{
	color: #000000;
	text-shadow: 0 0 0;
}

.nav li
{
	 border-bottom: 1px solid #555555; 
	
}

.nav li a, .nav li a:hover, .nav li a:active
{
	color: #fff;
}

.nav li a span
{
	color: #999;
}

.nav li.current-menu-item
{
	background: #191919;
}

hr
{
	border-top: 1px solid #555555;
	border-bottom: 0;
}

a
{
	color: #fff;
	text-decoration: none;
}

a:hover
{
	color: #FF9C00;
	text-decoration: none;
}

input[type=file]
{
    width: 313px;
    }
.search_box input[type=text], input[type=text], input[type=password], select, textarea, input[type=file]
{
	background: #191919;
	border: 1px solid #0C0D0D;
	-webkit-box-shadow: -3px -3px 0 0 #313334, 3px 3px 0 0 #313334, 3px 0 0 0 #313334, 0 3px 0 0 #313334, 3px -3px 0 0 #313334, -3px 3px 0 0 #313334;
	-moz-box-shadow: -3px -3px 0 0 #313334, 3px 3px 0 0 #313334, 3px 0 0 0 #313334, 0 3px 0 0 #313334, 3px -3px 0 0 #313334, -3px 3px 0 0 #313334;
	box-shadow: -3px -3px 0 0 #313334, 3px 3px 0 0 #313334, 3px 0 0 0 #313334, 0 3px 0 0 #313334, 3px -3px 0 0 #313334, -3px 3px 0 0 #313334;
}p
xx -3pkground: #1x x 
3pxshadow: -3px - kit-box-shadow: -3px -30shadow: -3px -3px 0 

pre, code, tt {background: #191919;
	border: 1px solid #0C0D0D;
	-webkit-box-shadow: -3px -3px 0 0 #313334, 3px 3px 0 0 #313334, 3px 0 0 0 #313334, 0 3px 0 0 #313334, 3px -3px 0 0 #313334, -3px 3px 0 0 #313334;
	-moz-box-shadow: -3px -3px 0 0 #313334, 3px 3px 0 0 #313334, 3px 0 0 0 #313334, 0 3px 0 0 #313334, 3px -3px 0 0 #313334, -3px 3px 0 0 #313334;
	box-shadow: -3px -3px 0 0 #313334, 3px 3px 0 0 #313334, 3px 0 0 0 #313334, 0 3px 0 0 #313334, 3px -3px 0 0 #313334, -3px 3px 0 0 #313334;
}

.frame_left .caption, .frame_right .caption, .frame_center .caption, .comment .right
{
	text-shadow: 0 0 0;
	color: #555;
}

#page_content_wrapper ul.twitter li
{
	background-image:url(../images/icon_twitter_bird2.png);
}